:root {
  --color-main-dark: rgb(47, 61, 83);
  --color-main-light: rgb(102, 117, 142);
  --color-main-black-dark: rgb(1, 6, 15);
  --color-main-black-light: rgba(234, 239, 248, 0.851);
  --color: #fd6f00;
  --colo-linear: #e46400;
  --color-gray: #959595;
  --color-dark: #bababa;
  --color-dark-hover: #959595;
  --color-bg: #0b0b0b;
  --color-dark-active: #707070;
  --color-darker: #575757;
}

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
body {
  background-color: var(--color-bg);
}

.page1,
.page2,
.page4,
.page5 {
  height: 854px;
  /* background-color: green; */
}
a {
  text-decoration: none;
  background: transparent;
}
button {
  border: none;
}
ul > li > a {
  margin: 0 10px;
  color: #959595;
  background-color: transparent;
  list-style-type: none;
}
ul > li > a:hover {
  color: var(--color);
}

/* Logo */
.logo-span {
  cursor: pointer;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--color), #e60026);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  transition: 0.5s linear;
}
.logo-span:hover {
  font-size: 35px;
  margin: 5px;
  padding: 5px;
}

/* nav container */
.container {
  display: flex;
  color: white;
  margin: 10px 20px;
  height: 43px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.container > div {
  transition: all 0.5s ease-in-out;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

ul > li {
  /* background-color: red; */
  transition: 0.5s linear;
}

ul > li:hover {
  transform: scale(1.2);
}

.button {
  background-color: var(--color);
  border: none;
  outline: none;
  width: fit-content;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}

button > a {
  background: inherit;
  color: inherit;
  margin: 5px;
  padding: 5px 15px;
}

/* End on Nav */
/* Bar */

/* End of Bar */

/* text-container */

.text-container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
}
.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px auto;
  padding: 10px;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  height: 781px;
  padding: 10px;
}
.paragraph {
}
.paragraph > p {
  color: var(--color-dark-active);
}
.paragraph > p:first-child {
  font-size: 24px;
}
.paragraph > p:nth-child(2) {
  font-size: 28px;
}
.paragraph > h1 {
  background-image: linear-gradient(to right, var(--color), var(--colo-linear));
  background-clip: text;
  font-size: 70px;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}
.paragraph > * {
  padding: 10px;
  margin: 10px;
}

.git-icon {
}
.git-icon a {
  margin: 10px 10px 30px 10px;
}
.git-icon i {
  margin: 10px;
  padding: 10px;
  transition: 0.5s;
  font-size: 28px;
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
  border-radius: 50%;
}
.git-icon i:hover {
  transform: scale(1.3, 1.3);
}

.btn {
  margin: 10px;
}

.button:hover,
.btn-cv:hover {
  transform: scale(1.1);
}
.btn-cv {
  background-color: transparent;
  color: var(--color-dark-hover);
  margin: 10px;
  padding: 10px 30px;
  border-radius: 8px;
  border: 2px solid var(--color-dark-hover);
  transition: 0.5s;
}

.experience {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  padding: 10px;
  background-color: #272727;
  border-radius: 8px;
}
.experience > div {
  background-color: transparent;
}

.experience p:first-child {
  color: #fd6f00;
  background-color: transparent;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
}

.experience p:nth-child(2) {
  background-color: transparent;
  color: #dfdfdf;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

/* Image */
.img-container {
  background-color: transparent;
}
.circle {
  height: 600px;
  width: 600px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #272727;
}

img {
  margin: 0 50px;
  border-radius: 30px;
  transition: 1s;
  background-color: transparent;
}

/* Services */

.services {
}

.hr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.hr > div {
  height: 10px;
  width: 40px;
  background-color: white;
}

/* Page2 */

.page2 {
  margin: 60px auto;
}
.services {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services h1,
.page3 h1 {
  font-size: 40px;
  color: white;
  margin: 20px auto;
}
.services p,
.page3 p {
  font-size: 20px;
  margin: 10px auto;
  color: var(--color-dark-hover);
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.item {
  background-color: #272727;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-indent: 24px;
  align-items: center;
}
.item i,
h2 {
  color: #fd6f00;
  font-size: 24px;
  margin: 20px auto;
}
.item p {
  font-size: 20px;
}

/* page 3 */
.page3 {
  margin: 10px auto;
  display: flex;
  height: 1273px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page3 > .h1-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
}
.img-pargraph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  position: relative;

}
.ring {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px;
  padding: 10px;
}

.page3 p {
  text-align: justify;
}

.page3 .img {
  background-color: #272727;
  /* background-color: red; */
  z-index: 100;
  padding: 10px;
  margin: 10px;
  height: 780px;
  width: 600px;
  border-radius: 50% 50% 10px 10px;
  position: relative;
  
}
.page3 .img >img {
  width: 566px;
  height: 808px; 
 
  
}

.p-b { 
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 10px 60px;
}

.p-b > p {
  font-weight: 400;
}
.p-b > button {
  margin: 10px 0;
}

.ring > div {
  width: 222px;
  height: 227px;
  margin: 10px;
  padding: 10px;
  /* background-color: green; */
}

.item-ring {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 10px auto;
  padding: 10px;
}
.item-ring span {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #fd6f00;
  border-radius: 50%;
}
.item-ring span i {
  font-size: 30px;
  font-weight: bold;
  color: var(--color-dark-hover);
}
.item-ring > p:nth-child(2) {
  color: #fd6f00;
  font-size: 30px;
  font-weight: bold;
}
.item-ring > p:nth-child(3) {
  color: var(--color-dark-hover);
  font-size: 24px;
  font-weight: bold;
}
