:root {
  --color-main-dark: rgb(47, 61, 83);
  --color-main-light: rgb(102, 117, 142);
  --color-main-black-dark: rgb(1, 6, 15);
  --color-main-black-light: rgba(234, 239, 248, 0.81);
  --color: #fd6f00;
  --colo-linear: #e46400;
  --color-gray: #959595;
  --color-dark: #bababa;
  --color-dark-hover: #959595;
  --color-bg: #0b0b0b;
  --color-dark-active: #707070;
  --color-darker: #575757;
}

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--color-bg);
}

.page1,
.page2,
.page5 {
  width: 100vw;
}
a {
  text-decoration: none;
  background: transparent;
}
button {
  border: none;
}
ul > li > a {
  margin: 0 10px;
  color: #959595;
  background-color: transparent;
  list-style-type: none;
}
ul > li > a:hover {
  color: var(--color);
}

/* Logo */
.logo-span {
  cursor: pointer;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--color), #e60026);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  transition: 0.5s linear;
}
.logo-span:hover {
  font-size: 35px;
  margin: 5px;
  padding: 5px;
}

/* nav container */
.container {
  display: flex;
  color: white;
  margin: 10px 20px;
  height: 43px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.container > div {
  transition: all 0.5s ease-in-out;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

ul > li {
  transition: 0.5s linear;
}

ul > li:hover {
  transform: scale(1.2);
}

.button {
  background-color: var(--color);
  border: none;
  outline: none;
  width: fit-content;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}

button > a {
  background: inherit;
  color: inherit;
  margin: 5px;
  padding: 5px 15px;
}

/* End on Nav */
/* Bar */

/* End of Bar */

/* text-container */

.text-container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
}
.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px auto;
  padding: 10px;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  height: 781px;
  padding: 10px;
}
.paragraph {
}
.paragraph > p {
  color: var(--color-dark-active);
}
.paragraph > p:first-child {
  font-size: 24px;
}
.paragraph > p:nth-child(2) {
  font-size: 28px;
}
.paragraph > h1 {
  background-image: linear-gradient(to right, var(--color), var(--colo-linear));
  background-clip: text;
  font-size: 70px;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}

.git-icon {
}
.git-icon a {
  margin: 10px 10px 30px 10px;
}
.git-icon i {
  margin: 10px;
  padding: 10px;
  transition: 0.5s;
  font-size: 28px;
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
  border-radius: 50%;
}
.git-icon i:hover {
  transform: scale(1.3, 1.3);
}

.btn {
  margin: 10px;
}

.button:hover,
.btn-cv:hover,
.btn-cv-outer {
  transform: scale(1.1);
}
.btn-cv {
  background-color: transparent;
  color: var(--color-dark-hover);
  margin: 10px;
  padding: 10px 30px;
  border-radius: 8px;
  border: 2px solid var(--color-dark-hover);
  transition: 0.5s;
}
.btn-cv-outer {
  background-color: #272727;
  color: #c6c6c6;
  margin: 10px;
  padding: 10px 30px;
  border-radius: 8px;
  transition: 0.5s;
}
.links li {
  margin: 20px;
  padding: 10px 20px;
}

.experience {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  padding: 10px;
  background-color: #272727;
  border-radius: 8px;
}
.experience > div {
  background-color: transparent;
}

.experience p:first-child {
  color: #fd6f00;
  background-color: transparent;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
}

.experience p:nth-child(2) {
  background-color: transparent;
  color: #dfdfdf;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

/* Image */
.img-container {
  background-color: transparent;
}
.circle {
  height: 600px;
  width: 600px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #272727;
}

img {
  margin: 0 50px;
  border-radius: 30px;
  transition: 1s;
  background-color: transparent;
}

/* Services */

.services {
}

.hr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.hr > div {
  height: 10px;
  width: 40px;
  background-color: white;
}

/* Page2 */

.page2 {
  margin: 60px auto;
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services h1,
.page3 h1 {
  font-size: 40px;
  color: white;
  margin: 20px auto;
}
.services p,
.page3 p {
  font-size: 20px;
  margin: 10px auto;
  color: var(--color-dark-hover);
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.item {
  background-color: #272727;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-indent: 24px;
  align-items: center;
}
.item i,
h2 {
  color: #fd6f00;
  font-size: 24px;
  margin: 20px auto;
}
.item p {
  font-size: 20px;
}

/* page 3 */
.page3 {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page3 > .h1-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
}
.page3 .img-pargraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  margin: 20px auto;
}
.page3 .ring {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5px auto;
  padding: 5px;
}

.page3 p {
  text-align: justify;
}

.page3 .img-pargraph .img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0 10px 50%;
  margin: 20px;
  height: 700px;
  width: 90%;
  position: relative;
  overflow: hidden;
}
.page3 .img-pargraph .img > div {
  width: 567px;
  height: 700px;
  background-color: #272727;
  border-radius: 50% 50% 10px 10px;
}

.page3 .img-pargraph .img > img {
  padding: 10px;
  top: 10px;
  width: 567px;
  position: absolute;
  /* background-color: gold; */
}

.page3 .img-pargraph .p-b {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 60px;
  width: 80%;
}

.p-b > p {
  margin: 10px 10% 10px 0;
  font-weight: 400;
}
.p-b > button {
  margin: 10px 0;
}

/* Ring */

.ring > div {
  width: 200px;
  height: 200px;
  margin: 5px auto;
  padding: 5px;
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill {
  width: 160px;
  height: 160px;
  position: relative;
}
.outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 10px;
}
.inner {
  height: 140px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#number {
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  color: var(--color-dark-active);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 8px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}
/* A */
.circle-A {
  animation: animA 2s linear forwards;
}
@keyframes animA {
  100% {
    /* stroke-dashoffset: calc(472 - 472*0.65); */
    stroke-dashoffset: 0;
  }
}
/* B */
.circle-B {
  animation: animB 2s linear forwards;
}
@keyframes animB {
  100% {
    stroke-dashoffset: 0;
  }
}
/* C */
.circle-C {
  animation: animC 2s linear forwards;
}
@keyframes animC {
  100% {
    stroke-dashoffset: 80;
  }
}

.circle-D {
  animation: animD 2s linear forwards;
}
@keyframes animD {
  100% {
    stroke-dashoffset: 189;
  }
}

.circle-E {
  animation: animE 2s linear forwards;
}
@keyframes animE {
  100% {
    stroke-dashoffset: 142;
  }
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.item-ring {
  margin: 10px auto;
  padding: 10px;
}

.page4 {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Page4 */
.page4 h1 {
  margin: 10px auto;
  color: white;
  font-weight: bold;
  font-size: 40px;
}
.page4 .links {
  padding: 5px;
  margin: 5px auto;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.page4 .pictures {
  display: grid;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 30vw);  
}
.page4 .box-outer {
  width:30vw ;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page4 .pictures .box-outer img {
  width: 29vw;
  height: 29vw;
  border-radius: 0 5px;
  margin: 10px 10px 0 10px;
  padding: 5px;
}

.page4 .pictures .box {
  margin: 5px;
  padding: 5px;
  width: 95%;
  height: 58px;
  background-color: #272727;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page4 .pictures .box p:first-child {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #c6c6c6;
}
.page4 .pictures .box p:nth-child(2) {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #959595;
}



/* page5 */
.page5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page5 h1 {
  color: #dfdfdf;
  font-weight: bold;
  font-size: 40px;
}
.page5 p {
  color: #707070;
  font-size: 20px;
}
.input-contaier {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
}
.item1 {
  grid-column: 1/2;
}
.item2 {
  grid-column: 2/3;
}
.item3 {
  grid-column: 1/2;
}
.item4 {
  grid-column: 2/3;
}
.item5 {
  grid-column: 1/2;
}
.item6 {
  grid-column: 2/3;
  grid-row: 3/5;
}
.item7 {
  grid-column: 2/3;
}

.input-contaier input,
.input-contaier textarea {
  background-color: #272727;
  font-size: 16px;
  width: 450px;
  height: 54px;
  border-radius: 5px;
  margin: 10px;
  outline: none;
  border: none;
  padding: 20px;
}

.input-contaier textarea {
  height: 200px;
}

/* page 5 */

.page5 .footer,
.page5 .services,
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page5 .footer {
  flex-direction: column;
}
.footer ul > li {
  color: #dfdfdf;
  margin: 10px auto;
  padding: 20px;
}

.contact i {
  font-size: 20px;
  color: #c6c6c6;
  margin: 10px auto;
  padding: 0 4px 0 20px;
}
.last {
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  color: #c6c6c6;
}

.icon {
  display: none;
}

/* Ipad and middle */

@media (min-width: 679px) and (max-width: 950px) {
  body {
    border: 3px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  nav {
    display: none;
  }
  i {
    color: #959595;
  }
  .icon {
    display: block;
    font-size: 20px;
    transition: 0.3s;
  }
  .icon:hover {
    font-size: 24px;
  }
  /* Page1 */
  .page1 {
    margin: 5px;
    padding: 5px;
  }
  .page1 .container {
    margin: 10px;
    padding: 10px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
  }
  .page1 .text-container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px;
    padding: 10px;
  }
  .page1 .text-container .text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
  }
  .page1 .text-container .text-div .paragraph,
  .page1 .text-container .text-div .paragraph > * {
    margin: 5px;
    padding: 5px;
  }
  .page1 .text-container .text-div .git-icon {
    display: flex;
    align-items: center;
    margin: 10px 20px;
    padding: 10px;
    justify-content: space-between;
  }
  .page1 .text-container .text-div .git-icon a {
    width: 19vw;
    margin: 5px;
    padding: 5px;
  }

  .page1 .text-container .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
  }

  .page1 .text-container .text-div .experience {
    width: 92vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 10px;
    background-color: #272727;
    border-radius: 8px;
  }
  .page1 .text-container .text-div .experience div {
    padding: 5px;
    margin: 5px;
  }
  .page1 .img-container {
    width: 95vw;

    margin: 10px;
    padding: 10px;
  }
  .page1 .img-container .circle {
    height: 94vw;
    width: 94vw;
    border-radius: 50%;
    overflow: hidden;
    background-color: #272727;
  }
  .page1 .img-container .circle img {
    margin: 10px;
    padding: 10px;
    transition: 1s;
  }

  .page2,
  .page2 .text {
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  .page2 .text > * {
    padding: 10px;
    margin: 10px;
  }
  .page2 .text p {
    font-size: 20px;
    text-align: center;
  }

  .page2 .grid-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  .page2 .grid-items .item {
    padding: 10px;
  }

  .page3 {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .page3 > .h1-p {
    margin: 10px;
  }

  .page3 .img-pargraph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 10px;
  }
  .page3 .img-pargraph .img {
    border-radius: 50% 50% 0 0;
    margin: 20px;
    height: 90vw;
    width: 80vw;
    overflow: hidden;
  }
  .page3 .img-pargraph .img img {
    background-size: contain;
  }
  .page3 .img-pargraph .p-b {
    margin: 10px;
    padding: 10px;
    width: 90vw;
  }
  .page3 .img-pargraph .p-b > p {
    margin: 10px;
    padding: 10px;
  }
  .page3 .img-pargraph .p-b > button {
    margin: 10px;
    padding: 10px;
  }

  .page3 .ring {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    padding: 10px;
  }

  .page4 {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .page4 .links {
    padding: 5px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .page4 .links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
  }

  .page4 .links li {
    margin: 10px;
    padding: 10px;
  }

  .page4 .pictures {
    display: grid;
    margin: 5px;
    padding: 10px;
    grid-template-columns: repeat(2, auto);
  }
  .page4 .pictures .box-outer {
    margin: 10px;
    padding: 10px;
  }
  .page4 .pictures img {
    width: 45vw;
    height: 45vw;
    border-radius: 0 5px;
    margin: 10px 10px 0 10px;
    padding: 0;
  }

  .page5 {
    padding: 10px;
    margin: 10px;
  }
  .page5 div {
    padding: 10px;
    margin: 10px;
  }
  .page5 div p {
    font-size: 24px;
  }

  .page5 .input-contaier {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  .btn-cv {
    padding: 15px 40px;
    font-size: 24px;
    margin: 10px;
    font-weight: bold;
  }
  .input-contaier input,
  .input-contaier textarea {
    background-color: #272727;
    font-size: 16px;
    width: 90vw;
    height: 60px;
    border-radius: 5px;
    margin: 5px;
    outline: none;
    border: none;
    padding: 13px;
  }
  .page5 .footer .contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
  }
  .page5 .footer .contact div {
    margin: 10px auto 40px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
  }
}

@media (max-width: 678px) {
  nav {
    display: none;
  }
  i {
    color: #959595;
  }
  .icon {
    display: inline-block;
  }
  .button {
    padding: 5px;
  }

  /* page1 */
  .page1 {
    display: flex;
    padding: 10px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
  }

  .container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px auto;
  }
  .container .button {
    background-color: var(--color);
    font-size: 16px;
    margin: 0;
  }

  .text-container {
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .text-container .text-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
  }
  .text-container .text-div .paragraph {
    margin: 10px 5px;
    padding: 10px 5px;
  }
  .text-container .text-div .paragraph p {
    padding: 3px;
    margin: 3px;
    text-align: center;
  }
  .text-container .text-div .paragraph p:first-child {
    font-size: 16px;
  }
  .text-container .text-div .paragraph p:nth-child(2) {
    font-size: 20px;
  }
  .text-container .text-div .paragraph h1 {
    padding: 3px;
    margin: 3px;
    font-size: 40px;
    text-align: center;
  }
  .text-container .text-div .git-icon {
    padding: 5px;
    margin: 5px auto;
  }
  .text-container .text-div .btn {
    width: 90vw;
    margin: 5px auto;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .text-container .text-div .experience {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
  }
  .text-container .text-div .experience p {
    font-size: 16px;
    padding: 3px;
  }

  .text-container .img-container {
    margin: 5px;
    padding: 5px;
    width: calc(100vw - 10px);
    height: calc(100vw - 10px);
  }
  .text-container .img-container .circle {
    margin: 5px;
    padding: 5px;
    width: 95vw;
    height: 95vw;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    overflow: hidden;
    background-color: #272727;
    position: relative;
  }

  .text-container .img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-size: contain;
  }

  /* page2 */

  .page2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    width: 100vw;
    padding: 10px;
    text-align: center;
  }

  .page2 .text {
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .page2 .text > * {
    margin: 5px;
    padding: 5px;
  }

  .page2 .grid-items {
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 15px;
    padding: 10px;
  }
  .page2 .grid-items .item {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: 20px;
    align-items: center;
  }
  .item i {
    font-size: 40px;
  }
  .item h2 {
    color: #fd6f00;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    padding: 5px;
  }

  /* page3 */

  .page3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    text-align: center;
    width: 100vw;
  }
  .page3 .h1-p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
  }
  .page3 h1 {
    font-size: 40px;
    color: white;
    margin: 20px;
  }
  .page3 .h1-p p {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
  }

  .page3 .img-pargraph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
    align-content: center;
  }

  .page3 .img-pargraph .img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 5px;
    padding: 5px;
    background-color: #272727;
    border-radius: 50% 50% 10px 10px;
    width: 95vw;
    height: 145vw;
  }
  .page3 .img-pargraph .img img {
    margin: 10px;
    padding: 10px;
    width: 95vw;
    background-size: contain;
  }

  .page3 .img-pargraph .p-b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    padding: 5px;

    text-align: center;
  }
  .page3 .img-pargraph .p-b p {
    margin: 5px;
    padding: 5px;
  }

  .img-pargraph .img img {
    height: 110%;
    width: 85vw;
    position: absolute;
  }

  .page3 .ring {
    display: grid;
    padding: 5px;
    margin: 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
  }

  .page3 .ring .item-ring {
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-items: center;
    width: 47vw;
    height: 47vw;
  }

  .page4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px;
    padding: 10px;
    width: 100vw;
    align-content: center;
  }
  .page4 .header {
    margin: 10px auto;
    padding: 10px;
    text-align: center;
  }
  .page4 .header h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
  }

  .page4 .links > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    padding: 5px;
    flex-wrap: wrap;
  }

  .page4 .links > ul li {
    margin: 10px;
    padding: 10px;
  }

  .page4 .pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
  }

  .page4 .pictures .box-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
  }
  .page4 .pictures .box-outer img {
    width: 90vw;
    height: 90vw;
    padding: 5px 5px 0 5px;
    border-radius: 0 5px;
    margin: 5px 5px 0 5px;
  }

  .page4 .pictures .box {
    width: 90vw;
    margin: 0;
    padding: 0;
    height: 58px;
    background-color: #272727;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* Page5 */

  .page5 {
    width: 100vw;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  .page5 > div > h1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: #dfdfdf;
    font-weight: bold;
    font-size: 40px;
  }
  .page5 > div > p {
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
  }
  .page5 .input-contaier {
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  .input-contaier input,
  .input-contaier textarea {
    background-color: #272727;
    font-size: 16px;
    width: 95vw;
    height: 60px;
    border-radius: 5px;
    margin: 5px;
    outline: none;
    border: none;
    padding: 0 13px 0 13px;
  }
  .input-contaier .btn-cv {
    width: 50vw;
  }
  .page5 .footer {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  .page5 .footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
  }

  .page5 .footer .git-icon {
    display: flex;
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95vw;
  }
  .page5 .footer .git-icon a {
    margin: 5px;
  }
  .page5 .footer .git-icon i {
    margin: 5px;
    padding: 5px;
    transition: 0.5s;
    font-size: 30px;
  }
  .page5 .footer .contact {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: baseline;
    justify-content: flex-start;
    align-items: center;
  }
  .page5 .footer .contact div {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
  }
  .page5 p {
    font-size: 16px;
  }
  .last {
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
}
